@use '@angular/material' as mat;

@import "@angular/material/theming";
@include mat.core();
// @import "material-colors";
// Primary Theme Colors
$myrecords-primary: mat.define-palette(mat.$blue-grey-palette, 900);
$myrecords-accent: mat.define-palette(mat.$teal-palette, 700);
$darts-warn: mat.define-palette(mat.$red-palette);

$my-records-theme: mat.define-light-theme((
 color: (
   primary: $myrecords-primary,
   accent: $myrecords-accent,
   warn: $darts-warn,
 )
));

// Set Default Theme
@include mat.all-component-themes($my-records-theme);

// Get custom typogrpahy
@import "material-typography";
