@use '@angular/material' as mat;

@import "@angular/material/theming";
@include mat.core();
@import "material-colors";
// Primary Theme Colors
$darts-primary: mat.define-palette($mat-black);
$darts-accent: mat.define-palette(mat.$green-palette);
$darts-warn: mat.define-palette(mat.$red-palette);

// Set Primary Theme
$darts-light-theme: mat.define-light-theme($darts-primary, $darts-accent, $darts-warn);

// Set Dark Theme
$darts-dark-theme: mat.define-dark-theme($darts-primary, $darts-accent, $darts-warn);

// Set Default Theme
@include mat.all-component-themes($darts-light-theme);

// Dark Theme class [ .app-dark-theme ]
// (anything wrapped with this class will apply the dark theme)
.darts-dark-theme {
  @include mat.all-component-themes($darts-dark-theme);
}
.matcolorprimary{
  color: mat.get-color-from-palette($darts-accent)
}

// Get custom typogrpahy
@import "material-typography";
