<mat-card>
    <form class="release-form">
        <mat-form-field class="full-width">
            <mat-label>Title</mat-label>
            <input matInput type="text" name="title" ngModel>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Details</mat-label>
            <textarea matInput type="text" name="formatDetails" ngModel></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Catalog Number</mat-label>
            <input matInput type="text" name="catno" ngModel/>
        </mat-form-field>
    </form>
</mat-card>
