<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Release
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- <app-paged-select [model]="release && release?.artists" bindLabel="name" serviceName="artists" [multiple]="true"></app-paged-select> -->
    <ng-select [items]="filteredArtists$ | async"
               bindLabel="name"
               [closeOnSelect]="true"
               [multiple]="true"
               [hideSelected]="true"
               [(ngModel)]="release && release.artists"
               [typeahead]="input$">
    </ng-select>
    <mat-divider></mat-divider>
    <mat-form-field style="padding: 20px 0">
      <mat-label>Title</mat-label>
      <input matInput placeholder="title" [(ngModel)]="release && release.title" required>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div>
      <app-label-select [modelLabel]="release && release.label"></app-label-select> 

      <!-- <app-paged-select [model]="release && release.label" bindLabel="name" serviceName="labels" [multiple]="false"></app-paged-select> -->

      <mat-form-field style="padding: 20px 0">
        <mat-label>Catalog</mat-label>
        <input matInput placeholder="catno" [(ngModel)]="release && release.catno">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div>
      <app-format-select [modelFormat]="release && release.format"></app-format-select>
      <mat-form-field style="padding: 20px 0">
        <mat-label>Details</mat-label>
        <input matInput placeholder="catno" [(ngModel)]="release && release.formatDetails">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <app-countries-select [modelCountry]="release && release.country"></app-countries-select> 
    <!-- <app-paged-select [model]="release && release.country" bindLabel="name" serviceName="countries" [multiple]="false"></app-paged-select> -->
    <mat-divider></mat-divider>
    <mat-form-field style="padding: 20px 0">
      <mat-label>Select release date</mat-label>
      <input matInput [matDatepicker]="picker" [value]="releaseDate">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-divider></mat-divider>
    <app-tracklist [dataSource]="tracklist"></app-tracklist>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <!-- <mat-form-field style="padding: 20px 0">
      <mat-label>Select genre</mat-label>
      <mat-select [(value)]="genre" [compareWith]="compareFn">
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{genre.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="genreCtrl.hasError('required')">Please choose a genre</mat-error>
    </mat-form-field> -->
    <mat-divider></mat-divider>
  </mat-expansion-panel>
</mat-accordion>
