@import "./styles/material/my-records-material-theme";
@import "./styles/partials/all";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: mat-color($myrecords-accent);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px 50px;
}

app-register,
app-login {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  flex-grow: 1;

  .form-container {
    width: 500px;
  }

  form {
    width: 100%;
  }

  .form-toolbar {
    justify-content: center;

  }

  .form-toolbar.mat-toolbar-single-row {
    height: 50px;
  }

  .mat-form-field {
    width: 100%;
    display: block;
  }

  .mat-raised-button {
    width: 100%;
    margin-top: 15px;
  }
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: mat-color($myrecords-primary);
  height: 60px;
}