<!-- <div fxLayout fxFill fxLayoutAlign="center center">
  <mat-card class="mr-card" fxLayout="column" flFlex="480px">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card-title>Login</mat-card-title>
    <form fxLayout="row wrap" *ngIf="!isLoading" (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field class="mr-form-field" fxFill appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" required email />
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field class="mr-form-field" fxFill appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
          required />
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button class="mr-raised-button" mat-raised-button disableRipple color="accent" type="submit" *ngIf="!isLoading">Login</button>
    </form>
  </mat-card>
</div> -->

<div class="form-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-toolbar class="form-toolbar" color="primary">Login</mat-toolbar>
  <mat-card class="mr-card">
    <mat-card-content>
      <form *ngIf="!isLoading" (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field class="mr-form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" required email />
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-form-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
            required />
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button class="mr-raised-button" mat-raised-button disableRipple color="accent" type="submit" *ngIf="!isLoading">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>