<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form
      class="r-Form"
      (submit)="onRegister(registerForm)"
      #registerForm="ngForm"
    >
      <mat-form-field class="full-width" appearance="standard">
        <input
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="E-Mail"
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email.</mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="standard">
        <input
          type="password"
          name="password"
          ngModel
          matInput
          placeholder="Password"
          #passwordInput="ngModel"
          required
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password.</mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="standard">
        <input
          matInput
          name="username"
          ngModel
          type="text"
          placeholder="Username"
          #usernameInput="ngModel"
          required
          username
        />
        <mat-error *ngIf="usernameInput.invalid"
          >Please enter a username.</mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="standard">
        <input
          matInput
          name="firstname"
          ngModel
          type="text"
          placeholder="Firstname"
          #firstnameInput="ngModel"
          required
          firstname
        />
        <mat-error *ngIf="firstnameInput.invalid"
          >Please enter firstname.</mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="standard">
        <input
          matInput
          name="lastname"
          ngModel
          type="text"
          placeholder="Lastname"
          #lastnameInput="ngModel"
          required
          lastname
        />
        <mat-error *ngIf="lastnameInput.invalid"
          >Please enter lastname.</mat-error
        >
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit">Register</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
