<mat-grid-list cols="4" rowHeight="250px">
  <mat-card *ngFor="let release of releases$ | async; index as i" class="example-card">
    <mat-card-header>
      <mat-card-title *ngFor="let artist of release.artists">
        {{ artist.name }}
      </mat-card-title>
      <mat-card-subtitle>{{ release.title }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
      <a mat-button color="primary" [routerLink]="['releases/edit', release.id]"
        >EDIT</a
      >
      <button mat-button>SHARE</button>
    </mat-card-content>
  </mat-card>
</mat-grid-list>
